<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goback()">
      <ion-button>
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>提现明细</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-list *ngIf="data">
    <ion-item detail *ngFor="let item of cashData">
      <ion-label>
        <div class="left">
          <p>{{item['payment']}}</p>
          <p class="time">{{item['amount']}}</p>
        </div>
        <div class="right">
          <p>{{item['admin_note']}}</p>
          <p class="text">{{item['is_paid'] ? '提现成功' : '申请中'}}</p>
        </div>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <!-- 没有数据区域 -->
  <div class="noData" *ngIf="!data">
    <img src="assets/noData.png" alt="没有数据" />
    <p>您没有提现记录~</p>
  </div>
  <!-- 有数据显示区域 -->
  <ion-grid class="Data" *ngIf="data">
    <ion-row class="d_header" align-items-center>
      <ion-col size="6">说明</ion-col>
      <ion-col size="3">金额</ion-col>
      <ion-col size="3">状态</ion-col>
    </ion-row>

    <ion-row class="d_content" align-items-center *ngFor="let item of cashData">
      <!-- <ion-col size="2">{{item.id}}</ion-col>
      <ion-col size="4">{{item.create_time *1000|date:'yyyy-MM-dd HH:mm:ss'}}</ion-col> -->
      <ion-col size="6" style="text-align: left">
        <ion-row>
          <ion-col size="12">{{item.remark}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" style="font-size: 0.8rem !important;">{{item.create_time*1000|date:'yyyy-MM-dd HH:mm:ss'}}</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="3">{{item.money}}</ion-col>
      <ion-col size="3"  [ngClass]="item.is_paid == 0?'redText':'blueText'">
        {{item.status_text}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
