<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goback()">
      <ion-button>
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>商品协议</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="text-align: center;font-weight: 800;font-size: 1.6rem !important;line-height: 3rem;">众能优选商城交易条款</h1>
  <p>客户在接受商品订购、和送货的同时，有义务遵守以下交易条款。您在众能优选商城下订单之前或接受众能优选商城合作商家送货之前，请您仔细阅读以下条款：</p>
  <p>1. 订购的商品价格以您下订单时众能优选商城网上价格为准。</p>
  <p>2.
    在boss区抢购商品，一旦抢购成功，意味着您已确认在众能优选商城中关于商品的相关政策，该政策可有两个选择：“寄售”和“提货”，“寄售”则表示，您在boss区抢购到相关商品后，委托众能优选商城代销您已抢购的两件相关商品，第一件商品预计可在3-5天内售出，第二件商品预计可在10-15天内售出，该两件商品如在预计时间内售出，您将获取该两件商品售出价格与您购入价格之间差额的一定比例的收入，众能优选商城则按相关机制收取一定的寄售服务费用；若销售不出去，则第一件商品在第6天，第二件商品在第16天后，平台将返还您购买该两件商品已支付的对应金额。也可选择“提货，”则表示您需要该商品，由厂家直接寄送到您所填的地址。
  </p>
  <p>3.请清楚准确地填写您的真实姓名、送货地址及联系方式。因如下情况造成订单延迟或无法配送等，众能优选商城将不承担责任：</p>
  <p style="font-weight: 600;text-indent: 2em">A. 客户提供错误信息和不详细的地址； </p>
  <p style="font-weight: 600;text-indent: 2em">B. 货物送达无人签收，由此造成的重复配送所产生的费用及相关的后果；</p>
  <p style="font-weight: 600;text-indent: 2em">C. 不可抗力，例如：自然灾害、交通戒严、突发战争等。</p>
  <p>4. 安全性：无论您是“寄售”或“提货”商品，我们会保证交易信息的安全，并由众能优选商城授权的员工处理您的订单。 </p>
  <p>5. 隐私权：众能优选商城尊重您的隐私权，在任何情况下，我们都不会将您的个人和订单信息出售或泄露给任何第三方（国家司法机关调取除外）。我们从网站上或电话中得到的所有客户信息仅用来处理您的相关订单。 </p>
  <p>6. 免责：如因不可抗力或其它众能优选商城无法控制的原因使众能优选商城销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，众能优选商城会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。 </p>
  <p>7. 客户监督：众能优选商城希望通过不懈努力，为客户提供最佳服务，众能优选商城在给客户提供服务的全过程中接受客户的监督。</p>
  <p>8. 争议处理：如果客户与众能优选商城之间发生任何争议，双方应友好协商解决，协商不成的，由北海国际仲裁院管辖。</p>
  <p>众能优选商城承诺：</p>
  <p>我们秉承质优价低、放心满意的理念为您服务。我们所出售的商品均为正品行货，与您亲临商场选购的商品一样享受相同的质量保证；含有质量保证书的商品按照保证书的承诺执行，其它商品按国家有关规定执行。</p>
  <p>特别提示：</p>
  <p style="text-indent: 2em">1.
    如您购买的商品在规定时间内出现国家法律所规定的性能故障或商品质量问题，需要返修/退换货时，请您在我的众能优选商城提交返修/退换货申请，申请单审核通过后，按照提示信息将物品以普通快递（请勿使用到付）的方式寄回卖家售后，经过商家与众能优选商城确认后，相关的邮寄运费将以众能优选商城余额的形式返还到您的众能优选商城账户中。如未提交返修/退换货申请或未通过审核而将商品寄回，则众能优选商城或卖家有权拒绝您的相关申请。具体详情可参见售后政策中的《厂家商品售后服务原则》。
  </p>
  <p style="text-indent: 2em">2.
    我们保证厂家出货时商品外包装的完好无缺。请您在收到货物时当场仔细检查发票及货品与送货单的商品是否一致，如果发现商品缺少或已破损等情况，请当场即配送人员还在现场时与相应厂家联系；如果发现邮寄包装破损，货物在运输途中破损等情况，请当场指出并拒收，拒收后请致电相应厂家客服，如您已签收或他人代为签收，则视为商品外包装，商品数量及内容无误，我司将无法受理。电子类商品如手机、相机、笔记本等有原厂包装、标签的3C产品，可以打开原厂包装，但不能安装电池开机启动，不能通电、过水、插入卡槽。请您在确认外观无损的情况下确认收货，如确认收货后，发现外观问题将无法办理。
  </p>
  <p style="text-align: right; line-height: 2rem;margin-top:1rem;">本协议最终解释权属于广东省众联优选电子商务有限公司</p>
</ion-content>