<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>天猫</ion-title>
  </ion-toolbar>
  <div class="header">
    <ion-searchbar placeholder="输入商品名" [(ngModel)]="searchname"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="searchGoods()"
        style="width: 100%; color: #999999;font-size: 1.2rem !important;">
        搜索
      </ion-button>
    </ion-buttons>
  </div>
  <!-- 导航栏 -->
  <div class="fenlei">
    <ul class="fl_header">
      <li *ngFor="let item of segments;let myIndex = index" [ngClass]="{'selected':item.isChecked}"
        (click)="changeSegment(myIndex)">
        {{item.name}}
      </li>
    </ul>
  </div>
</ion-header>

<ion-content>
  <ng-container>
    <ul class="products" *ngIf="products.length>0">
      <li *ngFor="let item of products">
        <!-- <ion-badge class="badge" color="danger">
          {{item.product_type_str|defaultVal}}
        </ion-badge> -->
        <a href="{{item.coupon_share_url}}">
          <img src="{{item.pict_url| defaultGoodsImg | formatImg}}" alt="{{item.goods_name | defaultVal}}" />
        </a>
        <p class="desc">{{item.title | defaultVal}}</p>
        <p class="product_info">
          <span class="price">￥{{item.reserve_price | defaultNum}}</span>
          <span class="sell_num">已售 {{item.sell_num | defaultNum}}</span>
        </p>
      </li>
    </ul>
  </ng-container>

    <!-- 上拉加载更多 -->
    <ion-infinite-scroll threshold="100px" *ngIf="data" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content loadingSpinner="circles" loadingText="加载数据...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>