<ion-header>
  <ion-toolbar>
    <ion-icon (click)="goback()" name="chevron-back-outline" style="margin-top: 10px;font-size: 1.5rem;"></ion-icon>
    <ion-title>填写订单</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="user_info box_bottom">
    <ion-grid no-padding class="borderbottom">
      <ion-row justify-content-center align-items-center>
        <ion-col size="1">
          <!-- 地址图标 -->
          <i class="iconfont iconlocation" style="color: #1296db; font-size: 1.2rem"></i>
        </ion-col>
        <ion-col size="10">
          <ion-row>
            <ion-col size="4">林生</ion-col>
            <ion-col size="6">156****4561</ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="10">广东省广州市黄埔区</ion-col>
          </ion-row>
        </ion-col>
  
        <ion-col size="1">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <ion-grid fixed class="bg_white box_bottom">
    <ion-row>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">罗斯软件旗舰店</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><img src=" assets/img/cart/5.jpg" alt="" width="80px" height="80px"></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">配送方式：快递</ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">商品930</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div>&nbsp;</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div class="box_flex">兑换易货券<ion-checkbox color="danger"></ion-checkbox></div></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">￥1000</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">*1</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div class="box_flex"> 提货<ion-checkbox color="danger"></ion-checkbox></div></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="bg_white box_bottom">
    <ion-row>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">罗斯软件旗舰店</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><img src=" assets/img/cart/5.jpg" alt="" width="80px" height="80px"></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">商品930</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div>&nbsp;</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div class="box_flex">寄售<ion-checkbox color="danger"></ion-checkbox></div></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">￥450</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">*1</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div class="box_flex"> 退款<ion-checkbox color="danger"></ion-checkbox></div></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="bg_white box_bottom">
    <ion-row>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">罗斯软件旗舰店</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><img src=" assets/img/cart/5.jpg" alt="" width="80px" height="80px"></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">商品930</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div>&nbsp;</div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div class="box_flex">寄售<ion-checkbox color="danger"></ion-checkbox></div></ion-col>
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row>
          <ion-col size="12">￥450</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">*1</ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12"><div class="box_flex"> 退款<ion-checkbox color="danger"></ion-checkbox></div></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed class="bg_white">
    <ion-row>
      <ion-col size="12"><div class="box_flex between"><span>使用余额*1900元</span><ion-checkbox color="danger"></ion-checkbox></div></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><div class="box_flex between"><span>积分兑换：100</span><ion-checkbox color="danger"></ion-checkbox></div> </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><span>可用易货券额度：3500</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><span>赠送易货券：350</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12"><span>备注: </span></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer class="spaceFooter">
  <div class="ion-footer-div">
    <ion-row style="z-index:100;">
      <ion-col size="8" text-right class="abutton">
        总计：￥1900
      </ion-col>
      <!-- <ion-col size="8" text-right class="abutton" *ngIf="isChecked[1]">
          购物券兑换：{{total_price.exchange_integral}}
        </ion-col> -->
      <ion-col size="4" text-center>
        <button style="background: #f53d3d;color: white;width: 100%;" class="abutton">提交订单</button>
      </ion-col>
    </ion-row>
  </div>
</ion-footer>
