<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>首页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classify">
      <ion-icon name="layers-outline"></ion-icon>
      <ion-label>分类</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="active">
      <ion-icon name="grid-outline"></ion-icon>
      <ion-label>BOSS区</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>购物车</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="business">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>商学院</ion-label>
    </ion-tab-button> -->

    <ion-tab-button tab="mine">
      <ion-icon name="happy-outline"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
