// 头部样式
ion-header{
    ion-toolbar{
        --background: rgb(253,58,59);
        --border-width:0;
        ion-title{
            --color:white;
            font-size: 1.3rem !important;
            font-weight: 400;
        }
        ion-buttons{
            ion-button{
                ion-icon{
                    color:white;
                }
            }
        }
    }
}