// 定义px转rem的基数
$baseFontSize: 13; //默认值为13

// 实现px转rem
@function px2rem($px) {
    @return $px / $baseFontSize * 1rem;
}

// 头部样式
ion-header {
    ion-toolbar {
        --background: rgb(253,58,59);
        --border-width: 0;
        ion-title {
            --color: white;
            font-size: 1.3rem !important;
            font-weight: 400;
        }
        ion-buttons {
            ion-button {
                color: white;
                font-size: 1rem;
            }
        }
    }
}

.goods_img {
    border-radius: 10px;
}

.goods_name {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: px2rem(14) !important;
}
.end_time{
    color: #ff4142;
}

.old_price{
    color: #999999;
}


.new_price{
    width: px2rem(250);
    height: px2rem(35);
    background: url('../../../../assets/btn.png') 0 0 ; 
    background-size: 100% 100%;
    line-height:px2rem(35) ;
    padding: 0 px2rem(30) 0 px2rem(10);
    color: #ff4142;
    .line_box{
        display: inline-block;
    }
    .price_num{
        font-size: px2rem(20);
        // font-weight: 600;
    }
    .goShop{
        float: right;
        color: #ffffff;
    }
}