// 定义px转rem的基数
$baseFontSize: 13; //默认值为13
// 实现px转rem
@function px2rem($px){
    @return $px / $baseFontSize * 1rem;
}

.font_type{
    font-size: px2rem(10);

}

.border_width{
    border: 1px solid #333333;
    text-align: center;
    font-size: px2rem(8);
}

.box_bg{
    background: #e4e4e4;
    color:#333333;
    padding: px2rem(2) px2rem(10);
    border-radius: px2rem(20);
    text-align: center;
    font-size: px2rem(8);
}

.font_price{
    color:#ff0000;
    font-weight: 600;
}

.active{
    color: #ffffff;
    background:#eb445a;
}
    