<ion-header>
  <div class="header">
    <ion-buttons slot="start" (click)="goback()">
      <ion-button>
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-searchbar placeholder="输入商品名" [(ngModel)]="searchname"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="large" (click)="searchGoods()" style="width: 100%; color: #ffffff;font-size: 1.2rem !important;">
        搜索
      </ion-button>
    </ion-buttons>
  </div>

  <div class="shop_info">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="9">
          <ion-row>
            <ion-col size="12"><div class="shop_name">{{storeInfo.store_name}}<img src="assets/right.png" width="20px" height="20px" alt=""></div></ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2.5"><div class="company_name">众能</div></ion-col>
            <ion-col size="5.5">
              <div class="experience">
                综合体验
                <img src="assets/redStar.png" alt=""> 
                <img src="assets/redStar.png" alt=""> 
                <img src="assets/redStar.png" alt=""> 
                <img src="assets/redStar.png" alt=""> 
                <img src="assets/clearStar.png" alt=""> 
              </div>
            </ion-col>
            <ion-col size="4"><div class="fans">粉丝数{{fansNum}}</div></ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3">
          <div class="attention_btn">
            <!-- <ion-button (click)="onAttention()" [fill]="btnFill" color="danger">
              <ion-icon name="radio-outline"></ion-icon>
              {{btnText}}
            </ion-button> -->
            <ion-button fill="outline" color="danger">
              <ion-icon name="radio-outline"></ion-icon>
              未关注
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

  <!-- 导航栏 -->
  <div class="fenlei">
    <ul class="fl_header">
      <li *ngFor="let item of segments;let myIndex = index"
          [ngClass]="{'selected':item.isChecked}"
          (click)="changeSegment(myIndex)">
        {{item.name}}
      </li>

      <!-- 一行两个 互换  一行两个 图标 -->
      <span>
        <div (click)="changeLookType()" class="icon-button">
          <ion-icon *ngIf="lookType == 'two'" name="grid-outline"></ion-icon>
          <ion-icon *ngIf="lookType == 'one'" name="menu-outline"></ion-icon>
        </div>
      </span>

    </ul>

  </div>
</ion-header>

<ion-content>
  <!--<div class="header">-->
    <!--<ion-buttons slot="start" (click)="goback()">-->
      <!--<ion-button>-->
        <!--<ion-icon name="chevron-back-outline"></ion-icon>-->
      <!--</ion-button>-->
    <!--</ion-buttons>-->
    <!--<ion-searchbar animated placeholder="搜索"></ion-searchbar>-->
    <!--<ion-buttons slot="start">-->
      <!--<ion-button slot="start">-->
        <!--<ion-icon name="ellipsis-horizontal"></ion-icon>-->
      <!--</ion-button>-->
    <!--</ion-buttons>-->
  <!--</div>-->



  <!-- 下拉刷新 -->
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="" refreshingSpinner="circles" refreshingText="刷新中...">
    </ion-refresher-content>
  </ion-refresher>

  <!-- 排序 -->
  <!-- <ul *ngIf="segments.length>0">
    <li *ngFor="let item of segments;let myIndex = index" (click)="changeSegment(myIndex)" [ngClass]="{'selected':item.isChecked}">{{item.text}}</li>
  </ul>
  <span>
    <i class="iconfont iconliebiao" style="color:#2c2c2c;"></i>
  </span> -->


  <ng-container *ngIf="lookType == 'two'">
    <ul class="products" *ngIf="products.length>0">
      <li *ngFor="let item of products" (click)="godetail(item.goods_id, item.product_type)">
        <ion-badge class="badge" color="danger">
          {{item.product_type_str|defaultVal}}
        </ion-badge>
        <img src="{{item.original_img | defaultGoodsImg | formatImg}}" alt="{{item.goods_name | defaultVal}}" />
        <p class="desc">{{item.goods_name | defaultVal}}</p>
        <p class="product_info">
          <span class="price">￥{{item.shop_price | defaultNum}}</span>
          <span class="sell_num">已售 {{item.sales_sum | defaultNum}}</span>
        </p>
      </li>
    </ul>
  </ng-container>
  <ng-container *ngIf="lookType == 'one'" no-padding>
    <ul class="products_row" *ngIf="products.length>0">
      <li *ngFor="let item of products" (click)="godetail(item.goods_id, item.product_type)">
        <ion-badge class="badge" color="danger">
          {{item.product_type_str|defaultVal}}
        </ion-badge>
        <div style="width: 45%;margin-top: 2vh;">
          <img src="{{item.original_img | defaultGoodsImg | formatImg}}" alt="{{item.goods_name | defaultVal}}" />
        </div>
        <div style="width: 65%">
          <p class="desc">{{item.goods_name | defaultVal}}</p>
          <p class="product_info">
            <span class="price">￥{{item.shop_price | defaultNum}}</span>
            <span class="sell_num">已售 {{item.sales_sum | defaultNum}}</span>
          </p>
        </div>
      </li>
    </ul>
  </ng-container>


  <!-- 上拉加载更多 -->
  <ion-infinite-scroll threshold="100px" *ngIf="data" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="circles" loadingText="加载数据...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>


<!-- <ion-footer>
  <ul>
    <li *ngFor="let item of footerNav ; let i = index" [ngClass]="{'selected': isChecked == i}" (click)="checkNav(i)">
      <ion-grid class="ion-no-margin ion-no-padding" fixed>
        <ion-row>
          <ion-col size="12">
            <ion-icon [name]="item.icon"></ion-icon>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            {{item.name}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </li>
  </ul>
</ion-footer> -->