<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goback()">
      <ion-button>
        <ion-icon mode="ios" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>密码设置</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="pswList">
    <ion-item (click)="gochangePsw(0)">
      <ion-label>修改登录密码</ion-label>
      <ion-icon solt="end" name="arrow-forward" mode="ios"></ion-icon>
    </ion-item>
    <ion-item (click)="gochangePsw(1)">
      <ion-label>修改支付密码</ion-label>
      <ion-icon solt="end" name="arrow-forward" mode="ios"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
